.beerCardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
    border-radius: 1em;
}

.search input {
    border-radius: 0.5em;
}

.search i {
    position: absolute;
    margin-right: 0.5em;
    margin-top: 0.1em;
}

@media (max-width: 500px) {
    .search {
        margin-right: 1.7em;
    }
}