.display {
    display: flex;
    flex-wrap: wrap;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.head h2 {
    flex: 1;
    position:absolute;
}

.head .cart {
    margin-left: auto;
    margin-right: 3em;
    cursor: pointer;
    border: none;
    background-color: white;
}

.cart span {
    color: orange;
    font-weight: 600;
}

.beerCardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
    border-radius: 1em;
    height: 1.7em;
}

.search input {
    border-radius: 0.5em;
}

.search i {
    position: absolute;
    margin-right: 0.5em;
    margin-top: 0.2em;
}

.sorting {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 0.7em;
}

.sorting section {
    align-self: center;
}

.sorting section span:hover {
    cursor: pointer;
    background-color: black;    
}

.sorting section span {
    background-color: rgb(48, 48, 48);
    border-radius: 0.4em;
    color: azure;
    margin: 1em;
    padding: 0.25em;
}

[role=tooltip],
.hidetooltip.hidetooltip.hidetooltip + [role=tooltip] {
  visibility: hidden;
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: black;
  color: white;
}

[aria-describedby]:hover,
[aria-describedby]:focus {
  position: relative;
}

[aria-describedby]:hover + [role=tooltip],
[aria-describedby]:focus + [role=tooltip] {
 visibility: visible;
}

@media only screen and (max-width: 500px) {
    .sorting section span {
        font-size: x-large;
    }

    .sorting section strong {
        font-size: x-large;
    }

    .search {
        margin-right: 3em;
        border-radius: 1em;
        height: 2.5em;
    }

    .search input {
        font-size: x-large;
    }

    .search i {
        margin-top: 0.5em;
    }
}