html {
    min-width: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    font-family: 'Cambay', sans-serif;
    margin: 0px;
    border: none;
    padding: 0px;
}

h2 {
    font-size: xx-large;
}

@media only screen and (max-width: 500px) {
    h2 {
        width: 5em;
    }
}